@import url('https://fonts.googleapis.com/css?family=Exo|Exo+2|Raleway|Ubuntu&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-size: 1.4rem;
    line-height: 1.2rem;
    font-family: 'Raleway', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Exo 2', sans-serif;
}
