:root {
    --neon-primary-color: rgb(255, 0, 64);
    --neon-secondary-color: #08f;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    background-image: url(../img/rocky-wall.png);
    position: relative;
    background-color: #000;
    /* background: linear-gradient(to right, #000, #333); */
}

.container::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, #000, #333);
    opacity: 0.7;
    z-index: 1;
}

.container > * {
    padding: 10px;
    text-transform: uppercase;
    color: #fff;
    z-index: 2;
}

.container h1 {
    margin-bottom: 2rem;
    font-size: 3.5rem;
    font-family: 'Exo 2', sans-serif;
    font-style: italic;
    width: 100%;
    /* height: 100vh; */
}

a {
    text-decoration: none;
    color: #fff;
    font-style: italic;
    padding: 10px 20px;
    font-family: 'Exo 2' sans-serif;
    font-size: 1.2rem;
    transition: all 500ms ease-in-out;
    border: 1px solid #fff;
    border-radius: 5px;
    box-shadow: 0 0 0.5rem #fff, inset 0 0 0.5rem #fff,
        0 0 2rem var(--neon-secondary-color),
        inset 0 0 2rem var(--neon-secondary-color),
        0 0 4rem var(--neon-secondary-color),
        inset 0 0 4rem var(--neon-secondary-color);
}

a:hover {
    opacity: 0.85;
}

.neon {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #fff,
        0 0 40px var(--neon-primary-color), 0 0 80px var(--neon-primary-color),
        0 0 90px var(--neon-primary-color), 0 0 100px var(--neon-primary-color),
        0 0 150px var(--neon-primary-color);
}

.neon2 {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #fff, 0 0 40px #fff,
        0 0 80px #fff, 0 0 90px #fff, 0 0 100px #fff, 0 0 150px #fff;
}

@media (max-width: 700px) {
    .container h1 {
        font-size: 3rem;
    }
}
