/* HEADER STYLES */

.container {
    opacity: 0;
    transition: opacity 1s ease-in;
    display: none;
}

header nav {
    display: flex;
    justify-content: space-between;
    background-color: #000;
    color: white;
    position: fixed;
    width: 100%;
    z-index: 1;
    /* opacity: 0.8; */
    min-height: 45px;
    /* border-top: 1px solid #fff; */
    border-bottom: 1px solid #fff;
}

header nav > * {
    z-index: 2;
}

header nav ul {
    display: flex;
}

header nav ul li {
    list-style-type: none;
    padding: 5px 5px;
    margin-top: 8px;
    margin-right: 5px;
}

header nav ul li a {
    text-decoration: none;
    color: white;
}
header nav ul li a:hover {
    opacity: 0.6;
}

header nav input {
    display: none;
}

header nav label {
    font-size: 25px;
    padding-left: 3px;
    padding-bottom: 3px;
    cursor: pointer;
    /* display: none; */
    visibility: hidden;
    margin-top: 4px;
}

/* MAIN STYLES */

/* LANDING */

main section.landing {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    background-image: url(../img/home.jpg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: fixed;
    /* border: 10px solid black; */
    border-bottom: 1px solid #fff;
}

main section.landing h1 {
    font-size: 3rem;
    font-style: italic;
    /* font-family: Georgia, 'Times New Roman', Times, serif; */
    color: white;
    background-color: #222;
    padding: 10px 20px;
    border-radius: 5px;
    /* border: 1px solid #fff; */
}

/* ABOUT */

section.about {
    width: 100vw;
    height: 80vh;
}

section.about .aboutText {
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: #222;
    color: white;
    border-bottom: 1px solid white;
}

section.about .aboutImg {
    width: 100%;
    height: 60%;
    background-image: url(../img/david-klein--94oJK3PDQw-unsplash.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    border-bottom: 1px solid #fff;
}

/* GALLERY */

section.gallery {
    width: 100vw;
    height: 100vh;
}

section.gallery .galleryText {
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: #333;
    color: #fff;
    border-bottom: 1px solid #fff;
}

section.gallery .galleryImg {
    height: 80%;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 5px;
    border-bottom: 1px solid white;
}

section.gallery .galleryImg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* MEDIA QUERIES */
@media (max-width: 700px) {
    header nav label {
        visibility: visible;
    }

    header nav ul {
        /* visibility: hidden; */
        display: none;
        flex-direction: column;
    }

    header nav input:checked ~ .menu ul {
        display: block;
    }

    main section.landing {
        background-size: cover;
    }
    section.gallery .galleryImg {
        grid-template-columns: auto auto;
    }
}
