/* HEADER STYLES */

.container {
    opacity: 0;
    transition: opacity 1s ease-in;
    display: none;
}

header nav {
    display: flex;
    justify-content: space-between;
    background-color: #000;
    color: white;
    position: fixed;
    width: 100%;
    z-index: 1;
    /* opacity: 0.8; */
    min-height: 45px;
    /* border-top: 1px solid #fff; */
    border-bottom: 1px solid #fff;
}

header nav > * {
    z-index: 2;
}

header nav ul {
    display: flex;
}

header nav ul li {
    list-style-type: none;
    padding: 5px 5px;
    margin-top: 8px;
    margin-right: 5px;
}

header nav ul li a {
    text-decoration: none;
    color: white;
}
header nav ul li a:hover {
    opacity: 0.6;
}

header nav input {
    display: none;
}

header nav label {
    font-size: 25px;
    padding-left: 3px;
    padding-bottom: 3px;
    cursor: pointer;
    /* display: none; */
    visibility: hidden;
    margin-top: 4px;
}

/* MAIN STYLES */

/* LANDING */

main section.landing {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    background-image: url(../img/ben-o-bro-wpU4veNGnHg-unsplash.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    /* border: 10px solid black; */
    border-bottom: 1px solid #fff;
    opacity: 0.9;
}

main section.landing h1 {
    font-size: 3rem;
    /* font-style: italic; */
    /* font-family: Georgia, 'Times New Roman', Times, serif; */
    color: white;
    background-color: #333;
    padding: 15px 20px;
    border-radius: 5px;
    /* border: 1px solid #fff; */
    z-index: 2;
}

/* ABOUT */

section.about {
    width: 100vw;
    height: 80vh;
}

section.about .aboutText {
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: #222;
    color: white;
    border-bottom: 1px solid white;
}

section.about .aboutImg {
    width: 100%;
    height: 60%;
    background-image: url(../img/david-klein--94oJK3PDQw-unsplash.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    border-bottom: 1px solid #fff;
}
/* GALLERY */
section.gallery {
    width: 100vw;
    height: 100vh;
}
section.gallery .galleryText {
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: #333;
    color: #fff;
    border-bottom: 1px solid #fff;
}
section.gallery .galleryImg {
    height: 80%;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 5px;
    border-bottom: 1px solid white;
}
section.gallery .galleryImg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* CONTACT */

section.contact {
    width: 100vw;
    height: 100%;
    display: flex;
    background-color: #222;
    color: #fff;
    align-items: center;
    justify-content: space-around;
}

section.contact .contactForm form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px 0;
}

section.contact label {
    font-weight: bolder;
}

section.contact input {
    margin: 5px 0;
    padding: 5px;
    border-radius: 5px;
}

section.contact textarea {
    margin: 5px 0;
    border-radius: 5px;
    padding: 10px;
}

/* FOOTER STYLES */

footer {
    background: #222;
    color: #eaeaea;
    font-size: 1rem;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid white;
}

footer p:nth-child(1) {
    padding: 10px;
    align-self: center;
}

footer a {
    display: block;
    color: white;
    background-color: black;
    padding: 10px 20px;
    border-radius: 50%;
    margin: 10px 20px;
}

/* MEDIA QUERIES */
@media (max-width: 700px) {
    header nav label {
        visibility: visible;
    }
    header nav ul {
        /* visibility: hidden; */
        display: none;
        flex-direction: column;
    }
    header nav input:checked ~ .menu ul {
        display: block;
    }
    main section.landing {
        background-size: cover;
    }
    section.gallery .galleryImg {
        grid-template-columns: auto auto;
    }

    section.contact {
        flex-direction: column;
    }

    section.contact .contactText {
        margin-top: 10px;
        padding: 10px;
        text-align: center;
    }
}
